<section class="mt-1 mb-4">
    <h2 class="">Categories:</h2>

    <div class="row g-3">
      @for (cat of categoriesList.slice(0,12); track cat._id) {
        <div class="col-md-2">
            <div [routerLink]="['/detailsCategory',cat._id]" class="product p-2">
                <img [src]="cat.image"  height="250px" class="w-100" [alt]="cat.name">
                 <h3 class="h4 text-main my-1">{{cat.name}}</h3>
            </div>
            
        </div>
            
      }
    </div>


</section>